.DS_Store
._.DS_Store
tmp.*
*.bak
build/
kitchen/
var/
build-*.d/
.mulle-env/
.mulle-sde/
publisher-info.sh
_Headers.cmake
_Sources.cmake
*.sublime-workspace
dot.git/
research/
mulle-sde-create-public-include
.gitignore
.mulle-make-build-dir
